@(score: Option[Double], size: Int = 8)



@generateJavascript(scoreLetter: String, colour: String) = {
	document.write("<span style=\"padding: 1px 9px 2px;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;border-top-left-radius: 9px;border-top-right-radius: 9px;border-bottom-right-radius: 9px;border-bottom-left-radius: 9px;font-size: @size pt;font-weight: bold;color: white;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color: @colour;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\"> @scoreLetter </span>");
}


@if(score.isDefined) {
    @if(score.get >= 4.5) {
        @generateJavascript("A","#468847")
    }
    @if(score.get >= 3.5 && score.get < 4.5) {
        @generateJavascript("B","#F89406")
    }
    @if(score.get >= 2 && score.get < 3.5) {
        @generateJavascript("C","#3A87AD")
    }
    @if(score.get >= 0 && score.get < 2) {
        @generateJavascript("D","#B94A48")
    }
    @if(score.get < 0) {
        @generateJavascript("?","#999")
    }
} else {
        @generateJavascript("?","#999")
}

