@(title: String, request: RequestHeader)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> @Application.name - Admin </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Collaborative Journals and Conferences Ranking">
        <meta name="author" content="Pierre-Nicolas Mougel">

            <!-- CSS files -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/prettify.css")">

            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

            <!-- Le fav and touch icons -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon_16.png")">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body style="margin:0;padding:0;display: block;border: 0;outline: 0;background-color:#eee;overflow: hidden;">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div style="padding-left:10px;">
                    <img src="@routes.Assets.at("images/icon3.svg")" />
                    <a class="brand" href="/"> @Application.name / Admin </a>
                    <a class="btn pull-right" style="margin-right:10px;"> <i class="icon-off"></i> Logout </a>
                </div>
            </div>
        </div>
        <nav id="column1" style="position:absolute;display: block;width: 210px; background: #eee; border-right: 1px solid #606D78;top:40px;bottom:0;box-sizing: border-box;padding: 10px 0 0;">
            @snippets.actionsMenu(controllers.admin.Admin.actionsByCategory)
        </nav>
            <!-- <div id="column2" style="position: absolute;background-color:#C7D1D8;top:40px;left:210px;right:0px;bottom:0;overflow: auto;"> -->
        <div style="position: absolute;top:40px;left:210px;right:0px;height:39px;background-image:url('/assets/images/breadcrumb.png');background-repeat:repeat;padding-left:10px;border-bottom: 1px solid #606D78;">
            <h2 style="text-shadow: 1px 1px #E5E8EB;color:#556B7B;"> @title </h2>
        </div>
        <div style="position: absolute;top:80px;left:210px;right:0px;bottom:0;overflow: auto;background-color:#C7D1D8;">
            @content
        </div>

            <!-- javascript ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/comments.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/links.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.timeago.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/prettify.js")" type="text/javascript"></script>
    </body>
</html>
