
body {
    padding-top: 80px;
    /* 60px to make the container go all the way to the bottom of the topbar */
}

#footer a {
	color: #333;
}

#footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #666;
}

.subfield {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #BBBBBB;
    padding:2px;
    padding-left:8px;
    margin-left:0px;
    background-color:#F6F6F6;
    margin-bottom:3px;
    color:#555555;
    
    /*
    border:1px solid #ECE8D3;
    background-color:#FCF8E3;
    
    border:1px solid #B9CDD7;
    background-color:#D9EDF7;
    */
    
}

#helpContent hr {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.score {
	display:block;
	padding:5px;
	border: 2px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    background-color: whiteSmoke;
    margin-right:10px;
    margin-left:0px;
    margin-bottom:10px;
    text-align:center;
}

#vote_rankA {
	border-color:#468847;
}
#vote_rankB {
    border-color:#F89406;
}
#vote_rankC {
    border-color:#3A87AD;
}
#vote_rankD {
    border-color:#B94A48;
    margin-right:0px;
}

.sidebar-nav {
    padding: 9px 0;
}
div .vertical-spacing-50 {
    height: 50px;
}
div .vertical-spacing-30 {
	height: 30px;
}
div .vertical-spacing-20 {
    height: 16px;
}
div .vertical-spacing-10 {
    height: 10px;
}
div .vertical-spacing-5 {
    height: 5px;
}
div .vertical-spacing-15 {
    height: 15px;
}

div .vertical-spacing-200 {
    height: 200px;
}

div .vertical-spacing-150 {
    height: 150px;
}

div .vertical-spacing-100 {
    height: 100px;
}

.hidden {
	display:none;
}

.emptydot {
	font-size: 13pt;
}

#form_new_conf {
	width:380px;
	padding-left:0px;
	margin-bottom:20px;
	padding-bottom:0px;
}

#form_new_conf .control-label {
	width: 100px;
}

#form_new_conf .controls {
	padding-left:120px;
	margin-left:0px;
}

#form_login {
    padding-top:8px;
    padding-bottom:6px;
    padding-left:345px;
}

#messageAreaTop {
	position:fixed;
    left:0px;
    right:0px;
    top:42px;
}

#remove_vote {
	color:#005580;
	text-decoration:underline;
}

div .alert {
	margin-bottom: 0px;
}




.grayGradient {
background: rgb(246,246,246);
background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(222,222,222,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(222,222,222,1)));
background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(222,222,222,1) 100%);
background: -o-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(222,222,222,1) 100%);
background: -ms-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(222,222,222,1) 100%);
background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(222,222,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dedede',GradientType=0 );

border: 1px solid #BBBBBB;

text-color:#333333;
color:#333333;
}

}

