@(implicit request: RequestHeader) @main(request) {
    <div class="container">
        <div class="vertical-spacing-20"></div>
        <div class="row">
            <div class="span8 offset2">
                <span style="font-size: 40pt;"> <img
                src="/assets/images/icon2.svg" > Widget </span> <br /> <br />
                <p style="font-size: 15pt;"> Display the colour ranking of a
                    publication in your website </p>
                <br />
            </div>
        </div>
        <ul class="unstyled" id="widget">
            <li>
                <div class="row">
                    <div class="span1 offset2 section"> How can I use it? </div>
                    <div class="span5 content">
                        <p>
                                To display the badge, go the page corresponding to the publication
                                and click the
                            <button class="btn"> Get Badge </button>
                                button. It will display a small script of the form
                        </p>
                        <code class="prettyprint lang-html">
                                &lt;script src="http://colour.org/wid/ <span class="nocode"> ID </span> "&gt;&lt;script&gt;
                        </code>
                        <p style="margin-top: 8px;">
                                where
                            <code>
                                <span class="nocode"> ID </span> </code> is the publication unique identifier.</p>
                                
                        <p><strong>Example:</strong> <em>Finding Collections of k-Clique Percolated Components in Attributed Graphs.</em> P.N. Mougel, C. Rigotti, O Gandrillon. In Pacific-Asia Conference on Knowledge Discovery and Data Mining (PAKDD) <script src="http://5.39.77.55/wid/2677"></script>, Kuala Lumpur, Malaisie. pp. 181-192. LNCS 7302. 2012.</p>
                        <span>Copy and paste the content in your webpage.</span>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="span1 offset2 section"> Customize the widget </div>
                    <div class="span5 content">
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="span1 offset2 section"> Check the rank </div>
                    <div class="span5 content">
                        <p> It is is relatively easy to display a ranking which does not correspond to a publication.
                            To ensure that the displayed badge corresponds to the colour ranking of the publication, click on the link available with the badge.</p>
                            It should display the page corresponding to the publication in the colour website.
                            If you have doubt, ensure that the url starts with <code>
                            <span class="nocode"> colour-ranking.org </span> </code> and that the publication names are matching.
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="span1 offset2 section"> Using it with bibtex </div>
                    <div class="span5 content">
                        <p> We are aware that many researchers present their list of publications from a bibtex file.
                            Currently, it is not possible to add the colour ranking
                            The main problem is publications sharing the same name, which would lead to displaying a wrong ranking.
                        </p>
                        <p>
                                If you have any idea on how we could integrate nicely the coulour ranking in a bibtex file, do not hesitate to submit it in the <a href="/ideabox"> idea box </a>.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
