@(nbConference: Long)(implicit request: RequestHeader)

@main(request) {
    <div class="container">
        <div class="vertical-spacing-200"></div>
        <div class="row">
            <div class="span6 offset4">
                <h1 style="font-size: 45pt"> @Application.name </h1>
                <div class="vertical-spacing-30"></div>
                <span class="badge badge-success" style="font-size: 13pt;height: 20px;">&nbsp;</span>
                <span class="badge badge-warning" style="font-size: 13pt;height: 20px;">&nbsp;</span>
                <span class="badge badge-info" style="font-size: 13pt;height: 20px;">&nbsp;</span>
                <span class="badge badge-important" style="font-size: 13pt;height: 20px;">&nbsp;</span>
                <div class="vertical-spacing-20"></div>
                <h3> Collaborative <br/> Journals &amp; Conferences <br/> Ranking </h3>
                <div class="vertical-spacing-20"></div>

                @snippets.search()

                @java.text.NumberFormat.getIntegerInstance(java.util.Locale.US).format(nbConference)
                    conference@if(nbConference > 1) {s}
                    and journal@if(nbConference > 1) {s} referenced
            </div>
        </div>
    </div>
}